<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmbccd.ulms.edu.dao.BrushScoreMapper">
  <resultMap id="BaseResultMap" type="com.cmbccd.ulms.edu.domain.BrushScore">
    <id column="JOURNO" jdbcType="VARCHAR" property="journo" />
    <result column="QUES_CODE" jdbcType="VARCHAR" property="quesCode" />
    <result column="LIB_CODE" jdbcType="VARCHAR" property="libCode" />
    <result column="PLO_NUM" jdbcType="VARCHAR" property="ploNum" />
    <result column="PLO_NAME" jdbcType="VARCHAR" property="ploName" />
    <result column="DEPT_NUM" jdbcType="VARCHAR" property="deptNum" />
    <result column="DEPT_GROUP" jdbcType="VARCHAR" property="deptGroup" />
    <result column="ANSWER" jdbcType="VARCHAR" property="answer" />
    <result column="PASS_FLAG" jdbcType="DECIMAL" property="passFlag" />
    <result column="DATA_DATE" jdbcType="VARCHAR" property="dataDate" />
    <result column="DATA_TIME" jdbcType="VARCHAR" property="dataTime" />
    <result column="ANSWER_DATE" jdbcType="VARCHAR" property="answerDate" />
    <result column="ANSWER_TIME" jdbcType="VARCHAR" property="answerTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    JOURNO, QUES_CODE, LIB_CODE, PLO_NUM, PLO_NAME, DEPT_NUM, DEPT_GROUP, ANSWER, PASS_FLAG, 
    DATA_DATE, DATA_TIME, ANSWER_DATE, ANSWER_TIME
  </sql>
  <select id="selectByExample" parameterType="com.cmbccd.ulms.edu.domain.BrushScoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TRM_BRUSH_SCORE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TRM_BRUSH_SCORE
    where JOURNO = #{journo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TRM_BRUSH_SCORE
    where JOURNO = #{journo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cmbccd.ulms.edu.domain.BrushScoreExample">
    delete from TRM_BRUSH_SCORE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cmbccd.ulms.edu.domain.BrushScore">
    insert into TRM_BRUSH_SCORE (JOURNO, QUES_CODE, LIB_CODE, 
      PLO_NUM, PLO_NAME, DEPT_NUM, 
      DEPT_GROUP, ANSWER, PASS_FLAG, 
      DATA_DATE, DATA_TIME, ANSWER_DATE, 
      ANSWER_TIME)
    values (#{journo,jdbcType=VARCHAR}, #{quesCode,jdbcType=VARCHAR}, #{libCode,jdbcType=VARCHAR}, 
      #{ploNum,jdbcType=VARCHAR}, #{ploName,jdbcType=VARCHAR}, #{deptNum,jdbcType=VARCHAR}, 
      #{deptGroup,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, #{passFlag,jdbcType=DECIMAL}, 
      #{dataDate,jdbcType=VARCHAR}, #{dataTime,jdbcType=VARCHAR}, #{answerDate,jdbcType=VARCHAR}, 
      #{answerTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cmbccd.ulms.edu.domain.BrushScore">
    insert into TRM_BRUSH_SCORE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="journo != null">
        JOURNO,
      </if>
      <if test="quesCode != null">
        QUES_CODE,
      </if>
      <if test="libCode != null">
        LIB_CODE,
      </if>
      <if test="ploNum != null">
        PLO_NUM,
      </if>
      <if test="ploName != null">
        PLO_NAME,
      </if>
      <if test="deptNum != null">
        DEPT_NUM,
      </if>
      <if test="deptGroup != null">
        DEPT_GROUP,
      </if>
      <if test="answer != null">
        ANSWER,
      </if>
      <if test="passFlag != null">
        PASS_FLAG,
      </if>
      <if test="dataDate != null">
        DATA_DATE,
      </if>
      <if test="dataTime != null">
        DATA_TIME,
      </if>
      <if test="answerDate != null">
        ANSWER_DATE,
      </if>
      <if test="answerTime != null">
        ANSWER_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="journo != null">
        #{journo,jdbcType=VARCHAR},
      </if>
      <if test="quesCode != null">
        #{quesCode,jdbcType=VARCHAR},
      </if>
      <if test="libCode != null">
        #{libCode,jdbcType=VARCHAR},
      </if>
      <if test="ploNum != null">
        #{ploNum,jdbcType=VARCHAR},
      </if>
      <if test="ploName != null">
        #{ploName,jdbcType=VARCHAR},
      </if>
      <if test="deptNum != null">
        #{deptNum,jdbcType=VARCHAR},
      </if>
      <if test="deptGroup != null">
        #{deptGroup,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="passFlag != null">
        #{passFlag,jdbcType=DECIMAL},
      </if>
      <if test="dataDate != null">
        #{dataDate,jdbcType=VARCHAR},
      </if>
      <if test="dataTime != null">
        #{dataTime,jdbcType=VARCHAR},
      </if>
      <if test="answerDate != null">
        #{answerDate,jdbcType=VARCHAR},
      </if>
      <if test="answerTime != null">
        #{answerTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cmbccd.ulms.edu.domain.BrushScoreExample" resultType="java.lang.Long">
    select count(*) from TRM_BRUSH_SCORE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update TRM_BRUSH_SCORE
    <set>
      <if test="record.journo != null">
        JOURNO = #{record.journo,jdbcType=VARCHAR},
      </if>
      <if test="record.quesCode != null">
        QUES_CODE = #{record.quesCode,jdbcType=VARCHAR},
      </if>
      <if test="record.libCode != null">
        LIB_CODE = #{record.libCode,jdbcType=VARCHAR},
      </if>
      <if test="record.ploNum != null">
        PLO_NUM = #{record.ploNum,jdbcType=VARCHAR},
      </if>
      <if test="record.ploName != null">
        PLO_NAME = #{record.ploName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptNum != null">
        DEPT_NUM = #{record.deptNum,jdbcType=VARCHAR},
      </if>
      <if test="record.deptGroup != null">
        DEPT_GROUP = #{record.deptGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.answer != null">
        ANSWER = #{record.answer,jdbcType=VARCHAR},
      </if>
      <if test="record.passFlag != null">
        PASS_FLAG = #{record.passFlag,jdbcType=DECIMAL},
      </if>
      <if test="record.dataDate != null">
        DATA_DATE = #{record.dataDate,jdbcType=VARCHAR},
      </if>
      <if test="record.dataTime != null">
        DATA_TIME = #{record.dataTime,jdbcType=VARCHAR},
      </if>
      <if test="record.answerDate != null">
        ANSWER_DATE = #{record.answerDate,jdbcType=VARCHAR},
      </if>
      <if test="record.answerTime != null">
        ANSWER_TIME = #{record.answerTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update TRM_BRUSH_SCORE
    set JOURNO = #{record.journo,jdbcType=VARCHAR},
      QUES_CODE = #{record.quesCode,jdbcType=VARCHAR},
      LIB_CODE = #{record.libCode,jdbcType=VARCHAR},
      PLO_NUM = #{record.ploNum,jdbcType=VARCHAR},
      PLO_NAME = #{record.ploName,jdbcType=VARCHAR},
      DEPT_NUM = #{record.deptNum,jdbcType=VARCHAR},
      DEPT_GROUP = #{record.deptGroup,jdbcType=VARCHAR},
      ANSWER = #{record.answer,jdbcType=VARCHAR},
      PASS_FLAG = #{record.passFlag,jdbcType=DECIMAL},
      DATA_DATE = #{record.dataDate,jdbcType=VARCHAR},
      DATA_TIME = #{record.dataTime,jdbcType=VARCHAR},
      ANSWER_DATE = #{record.answerDate,jdbcType=VARCHAR},
      ANSWER_TIME = #{record.answerTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmbccd.ulms.edu.domain.BrushScore">
    update TRM_BRUSH_SCORE
    <set>
      <if test="quesCode != null">
        QUES_CODE = #{quesCode,jdbcType=VARCHAR},
      </if>
      <if test="libCode != null">
        LIB_CODE = #{libCode,jdbcType=VARCHAR},
      </if>
      <if test="ploNum != null">
        PLO_NUM = #{ploNum,jdbcType=VARCHAR},
      </if>
      <if test="ploName != null">
        PLO_NAME = #{ploName,jdbcType=VARCHAR},
      </if>
      <if test="deptNum != null">
        DEPT_NUM = #{deptNum,jdbcType=VARCHAR},
      </if>
      <if test="deptGroup != null">
        DEPT_GROUP = #{deptGroup,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        ANSWER = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="passFlag != null">
        PASS_FLAG = #{passFlag,jdbcType=DECIMAL},
      </if>
      <if test="dataDate != null">
        DATA_DATE = #{dataDate,jdbcType=VARCHAR},
      </if>
      <if test="dataTime != null">
        DATA_TIME = #{dataTime,jdbcType=VARCHAR},
      </if>
      <if test="answerDate != null">
        ANSWER_DATE = #{answerDate,jdbcType=VARCHAR},
      </if>
      <if test="answerTime != null">
        ANSWER_TIME = #{answerTime,jdbcType=VARCHAR},
      </if>
    </set>
    where JOURNO = #{journo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmbccd.ulms.edu.domain.BrushScore">
    update TRM_BRUSH_SCORE
    set QUES_CODE = #{quesCode,jdbcType=VARCHAR},
      LIB_CODE = #{libCode,jdbcType=VARCHAR},
      PLO_NUM = #{ploNum,jdbcType=VARCHAR},
      PLO_NAME = #{ploName,jdbcType=VARCHAR},
      DEPT_NUM = #{deptNum,jdbcType=VARCHAR},
      DEPT_GROUP = #{deptGroup,jdbcType=VARCHAR},
      ANSWER = #{answer,jdbcType=VARCHAR},
      PASS_FLAG = #{passFlag,jdbcType=DECIMAL},
      DATA_DATE = #{dataDate,jdbcType=VARCHAR},
      DATA_TIME = #{dataTime,jdbcType=VARCHAR},
      ANSWER_DATE = #{answerDate,jdbcType=VARCHAR},
      ANSWER_TIME = #{answerTime,jdbcType=VARCHAR}
    where JOURNO = #{journo,jdbcType=VARCHAR}
  </update>
  <select id="dayBrushCount" resultType="java.lang.Integer">
  select count(*) from TRM_BRUSH_SCORE where  DATA_DATE = #{dataDate,jdbcType=VARCHAR} 
   <if test="ploNum != null">
     and PLO_NUM = #{ploNum,jdbcType=VARCHAR}
   </if>
  </select>
  
 <select id="monthBrushCount" resultType="java.lang.Integer">
  SELECT COUNT(*) FROM (select DATA_DATE from TRM_BRUSH_SCORE where  DATA_DATE between  concat(#{month,jdbcType=VARCHAR},'-01') and concat(#{month,jdbcType=VARCHAR},'-31')
   <if test="ploNum != null">
     and PLO_NUM = #{ploNum,jdbcType=VARCHAR}
   </if>
   group by DATA_DATE)
  </select>
  
  <select id="selectWrongQuestion"  resultMap="BaseResultMap">
  select * from (
	select QUES_CODE,count(*) as PASS_FLAG,max(DATA_DATE) as DATA_DATE,max(DATA_TIME) DATA_TIME from 
	TRM_BRUSH_SCORE 
	where
    <if test="passDays != null">
      DATA_DATE BETWEEN to_char(sysdate-#{passDays,jdbcType=DECIMAL}, 'yyyy-MM-dd') and to_char(sysdate, 'yyyy-MM-dd') and
    </if>
    PASS_FLAG = 0 and  PLO_NUM = #{ploNum,jdbcType=VARCHAR} group by QUES_CODE
	order by PASS_FLAG desc,DATA_DATE asc,DATA_TIME asc
	) where rownum BETWEEN 0 and #{quesNums,jdbcType=DECIMAL}
    order by DATA_DATE desc,DATA_TIME desc
  </select>
  
  <resultMap id="reportBrushScoreHumMap"  type="com.cmbccd.ulms.edu.domain.report.BrushScoreHum">
    <result column="PLO_NUM" jdbcType="VARCHAR" property="ploNum" />
    <result column="TOTAL" jdbcType="DECIMAL" property="total" />
    <result column="RIGHT_NUM" jdbcType="DECIMAL" property="rightNum" />
    <result column="ANSWER_DAYS" jdbcType="DECIMAL" property="answerDays" />
    <result column="RIGHT_RATE" jdbcType="DECIMAL" property="rightRate" />
    <result column="RANK" jdbcType="DECIMAL" property="rank" />
    <result column="WEAK_POINT1" jdbcType="VARCHAR" property="weakPoint1" />
    <result column="WEAK_POINT2" jdbcType="VARCHAR" property="weakPoint2" />
    <result column="WEAK_POINT3" jdbcType="VARCHAR" property="weakPoint3" />
  </resultMap>
  <!-- 报表 -->
<select id="reportBrushScoreHum" resultMap="reportBrushScoreHumMap">
select A.*,rownum rank from (
	select a.PLO_NUM,a.total,nvl(b.right_num,0) right_num,nvl(round(b.right_num/a.total,4),0) right_rate,c.answer_days,d.weak_point1,d.weak_point2,d.weak_point3 from 
	(select plo_num,count(1) as total from TRM_BRUSH_SCORE where DATA_DATE between #{begDate,jdbcType=VARCHAR} and  #{endDate,jdbcType=VARCHAR} group by plo_num) a
	left join (select plo_num,count(1) as right_num from TRM_BRUSH_SCORE where DATA_DATE between #{begDate,jdbcType=VARCHAR} and  #{endDate,jdbcType=VARCHAR}  and PASS_FLAG=1 group by plo_num) b  on (a.PLO_NUM = b.PLO_NUM)
	left join (select PLO_NUM,count(1) as answer_days from (select plo_num,DATA_DATE from TRM_BRUSH_SCORE where DATA_DATE between #{begDate,jdbcType=VARCHAR} and  #{endDate,jdbcType=VARCHAR}  group by plo_num,DATA_DATE) group by PLO_NUM) c  on (a.PLO_NUM = c.PLO_NUM)
	left join (
	select  PLO_NUM,max( CASE rank WHEN 1 THEN concat(CATEGORY,'|'||num) ELSE '' END ) weak_point1,max( CASE rank WHEN 2 THEN concat(CATEGORY,'|'||num) ELSE '' END ) weak_point2,max( CASE rank WHEN 3 THEN concat(CATEGORY,'|'||num) ELSE '' END ) weak_point3  FROM 
	(select PLO_NUM,nvl(t2.CATEGORY,'未分类') CATEGORY,count(1) as num,row_number() over(partition by PLO_NUM order by count(1) desc) rank from (select QUES_CODE,PLO_NUM from TRM_BRUSH_SCORE where DATA_DATE between #{begDate,jdbcType=VARCHAR} and  #{endDate,jdbcType=VARCHAR}  and PASS_FLAG=0 ) t1 left join (select QUES_CODE,CATEGORY from TRM_QUES_BANK) t2 on (t1.QUES_CODE= t2.QUES_CODE) group by PLO_NUM,CATEGORY order by num desc) group by PLO_NUM
	) d on (a.PLO_NUM = d.PLO_NUM)
    <if test="orderBy != null">
      order by ${orderBy}
    </if>
 ) A
</select>

  <resultMap id="reportBrushScoreGroupMap"  type="com.cmbccd.ulms.edu.domain.report.BrushScoreGroup">
    <result column="DEPT_NUM" jdbcType="VARCHAR" property="deptNum" />
    <result column="DEPT_GROUP" jdbcType="DECIMAL" property="deptGroup" />
    <result column="HUM_ACT" jdbcType="DECIMAL" property="humAct" />
   	<result column="TOTAL" jdbcType="DECIMAL" property="total" />
    <result column="RIGHT_NUM" jdbcType="DECIMAL" property="rightNum" />
    <result column="RIGHT_RATE" jdbcType="DECIMAL" property="rightRate" />
    <result column="RANK" jdbcType="DECIMAL" property="rank" />
    <result column="WEAK_POINT1" jdbcType="VARCHAR" property="weakPoint1" />
    <result column="WEAK_POINT2" jdbcType="VARCHAR" property="weakPoint2" />
    <result column="WEAK_POINT3" jdbcType="VARCHAR" property="weakPoint3" />
  </resultMap>
<select id="reportBrushScoreGroup" resultMap="reportBrushScoreGroupMap">
select A.*,rownum rank from (
	select a.dept_num,a.dept_group,a.total,nvl(b.right_num,0) right_num,nvl(round(b.right_num/a.total,4),0) right_rate,c.HUM_ACT,d.weak_point1,d.weak_point2,d.weak_point3 from 
	(select dept_num,dept_group,count(1) as total from TRM_BRUSH_SCORE where DATA_DATE between #{begDate,jdbcType=VARCHAR} and  #{endDate,jdbcType=VARCHAR} group by dept_num,dept_group) a
	left join (select dept_group,count(1) as right_num from TRM_BRUSH_SCORE where DATA_DATE between #{begDate,jdbcType=VARCHAR} and  #{endDate,jdbcType=VARCHAR} and PASS_FLAG=1 group by dept_group) b 
	on (a.dept_group = b.dept_group)
	left join (select DEPT_GROUP,count(1) as HUM_ACT from (select DEPT_GROUP,plo_num from TRM_BRUSH_SCORE where DATA_DATE between #{begDate,jdbcType=VARCHAR} and  #{endDate,jdbcType=VARCHAR} group by dept_group,plo_num) group by DEPT_GROUP) c on (a.DEPT_GROUP = c.DEPT_GROUP)
	left join (
	select  DEPT_GROUP,max( CASE rank WHEN 1 THEN concat(CATEGORY,'|'||num) ELSE '' END ) weak_point1,max( CASE rank WHEN 2 THEN concat(CATEGORY,'|'||num) ELSE '' END ) weak_point2,max( CASE rank WHEN 3 THEN concat(CATEGORY,'|'||num) ELSE '' END ) weak_point3  FROM 
	(select DEPT_GROUP,nvl(t2.CATEGORY,'未分类') CATEGORY,count(1) as num,row_number() over(partition by DEPT_GROUP order by count(1) desc) rank from (select QUES_CODE,DEPT_GROUP from TRM_BRUSH_SCORE where DATA_DATE between #{begDate,jdbcType=VARCHAR} and  #{endDate,jdbcType=VARCHAR}  and PASS_FLAG=0 ) t1 left join (select QUES_CODE,CATEGORY from TRM_QUES_BANK) t2 on (t1.QUES_CODE= t2.QUES_CODE) group by DEPT_GROUP,CATEGORY order by num desc) group by DEPT_GROUP
	) d on (a.DEPT_GROUP = d.DEPT_GROUP)
    <if test="orderBy != null">
      order by ${orderBy}
    </if>
 ) A
</select>

 <resultMap id="reportBrushScoreDeptMap"  type="com.cmbccd.ulms.edu.domain.report.BrushScoreDept">
    <result column="DEPT_NUM" jdbcType="VARCHAR" property="deptNum" />
    <result column="HUM_ACT" jdbcType="DECIMAL" property="humAct" />
    <result column="TOTAL" jdbcType="DECIMAL" property="total" />
    <result column="RIGHT_NUM" jdbcType="DECIMAL" property="rightNum" />
    <result column="RIGHT_RATE" jdbcType="DECIMAL" property="rightRate" />
    <result column="RANK" jdbcType="DECIMAL" property="rank" />
    <result column="WEAK_POINT1" jdbcType="VARCHAR" property="weakPoint1" />
    <result column="WEAK_POINT2" jdbcType="VARCHAR" property="weakPoint2" />
    <result column="WEAK_POINT3" jdbcType="VARCHAR" property="weakPoint3" />
  </resultMap>
<select id="reportBrushScoreDept" resultMap="reportBrushScoreDeptMap">
select A.*,rownum rank from (
	select a.dept_num,a.total,nvl(b.right_num,0) right_num,round(b.right_num/a.total,4) right_rate,c.HUM_ACT,d.weak_point1,d.weak_point2,d.weak_point3 from 
	(select dept_num,count(1) as total from TRM_BRUSH_SCORE where DATA_DATE between #{begDate,jdbcType=VARCHAR} and  #{endDate,jdbcType=VARCHAR} group by dept_num) a
	left join (select dept_num,count(1) as right_num from TRM_BRUSH_SCORE where DATA_DATE between #{begDate,jdbcType=VARCHAR} and  #{endDate,jdbcType=VARCHAR} and PASS_FLAG=1 group by dept_num) b 
	on (a.dept_num = b.dept_num)
	left join (select dept_num,count(1) as HUM_ACT from (select dept_num,plo_num from TRM_BRUSH_SCORE where DATA_DATE between #{begDate,jdbcType=VARCHAR} and  #{endDate,jdbcType=VARCHAR} group by dept_num,plo_num) group by dept_num) c on (a.dept_num = c.dept_num)
	left join (
	select  dept_num,max( CASE rank WHEN 1 THEN concat(CATEGORY,'|'||num) ELSE '' END ) weak_point1,max( CASE rank WHEN 2 THEN concat(CATEGORY,'|'||num) ELSE '' END ) weak_point2,max( CASE rank WHEN 3 THEN concat(CATEGORY,'|'||num) ELSE '' END ) weak_point3  FROM 
	(select dept_num,nvl(t2.CATEGORY,'未分类') CATEGORY,count(1) as num,row_number() over(partition by dept_num order by count(1) desc) rank from (select QUES_CODE,dept_num from TRM_BRUSH_SCORE where DATA_DATE between #{begDate,jdbcType=VARCHAR} and  #{endDate,jdbcType=VARCHAR}  and PASS_FLAG=0 ) t1 left join (select QUES_CODE,CATEGORY from TRM_QUES_BANK) t2 on (t1.QUES_CODE= t2.QUES_CODE) group by dept_num,CATEGORY order by num desc) group by dept_num
	) d on (a.dept_num = d.dept_num)
    <if test="orderBy != null">
      order by ${orderBy}
    </if>
 ) A
</select>

 <resultMap id="reportCategoryInfoMap"  type="com.cmbccd.ulms.edu.domain.report.CategoryInfo">
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="total" jdbcType="DECIMAL" property="total" />
    <result column="RIGHT_NUM" jdbcType="DECIMAL" property="rightNum" />
    <result column="RIGHT_RATE" jdbcType="DECIMAL" property="rightRate" />
  </resultMap>
<select id="reportCategoryInfo" resultMap="reportCategoryInfoMap">
	SELECT b.CATEGORY,sum(total) total,sum(right_num) as RIGHT_NUM,nvl(round(sum(right_num)/sum(total),4),0) as RIGHT_RATE from 
	(select QUES_CODE,count(1) as total,sum(PASS_FLAG) as right_num from TRM_BRUSH_SCORE where DATA_DATE between #{begDate,jdbcType=VARCHAR} and  #{endDate,jdbcType=VARCHAR} group by QUES_CODE) a
	left join TRM_QUES_BANK b on (a.QUES_CODE = b.QUES_CODE)
	group by b.CATEGORY
	order by RIGHT_RATE
</select>


<select id="centerWrongMostQuestion" resultMap="BaseResultMap">
	select b.QUES_STEM ques_code,b.ANSWER,a.num PASS_FLAG,b.QUES_EXPLAIN LIB_CODE from 
	(select ques_Code,num from (select ques_Code,count(*) as num from TRM_BRUSH_SCORE where  answer_date between to_char(sysdate - 10 ,'yyyy-MM-dd') and to_char(sysdate,'yyyy-MM-dd') and  pass_flag = 0  group by ques_Code order by num desc) where ROWNUM between 0 and 20) a
	left join TRM_QUES_BANK b on (a.QUES_CODE= b.QUES_CODE)
</select>
</mapper>