<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmbccd.ulms.sys.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.cmbccd.ulms.sys.domain.Menu">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="INTRO" jdbcType="VARCHAR" property="intro" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="SORT" jdbcType="DECIMAL" property="sort" />
    <result column="PID" jdbcType="DECIMAL" property="pid" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="USEAGE" jdbcType="DECIMAL" property="useage" />
    <result column="MENU_TYPE" jdbcType="DECIMAL" property="menuType" />
    <result column="RESOURSE" jdbcType="VARCHAR" property="resourse" />
    <result column="COMPONENT" jdbcType="VARCHAR" property="component" />
    <result column="SYSTEM" jdbcType="VARCHAR" property="system" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, NAME, INTRO, PATH, SORT, PID, ICON, STATUS, USEAGE, MENU_TYPE, RESOURSE, COMPONENT, 
    SYSTEM
  </sql>
  <select id="selectByExample" parameterType="com.cmbccd.ulms.sys.domain.MenuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_MENU
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_MENU
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from SYS_MENU
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.cmbccd.ulms.sys.domain.MenuExample">
    delete from SYS_MENU
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cmbccd.ulms.sys.domain.Menu">
    insert into SYS_MENU (ID, NAME, INTRO, 
      PATH, SORT, PID, ICON, 
      STATUS, USEAGE, MENU_TYPE, 
      RESOURSE, COMPONENT, SYSTEM
      )
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR}, #{sort,jdbcType=DECIMAL}, #{pid,jdbcType=DECIMAL}, #{icon,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL}, #{useage,jdbcType=DECIMAL}, #{menuType,jdbcType=DECIMAL}, 
      #{resourse,jdbcType=VARCHAR}, #{component,jdbcType=VARCHAR}, #{system,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cmbccd.ulms.sys.domain.Menu">
    insert into SYS_MENU
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="intro != null">
        INTRO,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="sort != null">
        SORT,
      </if>
      <if test="pid != null">
        PID,
      </if>
      <if test="icon != null">
        ICON,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="useage != null">
        USEAGE,
      </if>
      <if test="menuType != null">
        MENU_TYPE,
      </if>
      <if test="resourse != null">
        RESOURSE,
      </if>
      <if test="component != null">
        COMPONENT,
      </if>
      <if test="system != null">
        SYSTEM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=DECIMAL},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="useage != null">
        #{useage,jdbcType=DECIMAL},
      </if>
      <if test="menuType != null">
        #{menuType,jdbcType=DECIMAL},
      </if>
      <if test="resourse != null">
        #{resourse,jdbcType=VARCHAR},
      </if>
      <if test="component != null">
        #{component,jdbcType=VARCHAR},
      </if>
      <if test="system != null">
        #{system,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cmbccd.ulms.sys.domain.MenuExample" resultType="java.lang.Long">
    select count(*) from SYS_MENU
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SYS_MENU
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.intro != null">
        INTRO = #{record.intro,jdbcType=VARCHAR},
      </if>
      <if test="record.path != null">
        PATH = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null">
        SORT = #{record.sort,jdbcType=DECIMAL},
      </if>
      <if test="record.pid != null">
        PID = #{record.pid,jdbcType=DECIMAL},
      </if>
      <if test="record.icon != null">
        ICON = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.useage != null">
        USEAGE = #{record.useage,jdbcType=DECIMAL},
      </if>
      <if test="record.menuType != null">
        MENU_TYPE = #{record.menuType,jdbcType=DECIMAL},
      </if>
      <if test="record.resourse != null">
        RESOURSE = #{record.resourse,jdbcType=VARCHAR},
      </if>
      <if test="record.component != null">
        COMPONENT = #{record.component,jdbcType=VARCHAR},
      </if>
      <if test="record.system != null">
        SYSTEM = #{record.system,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYS_MENU
    set ID = #{record.id,jdbcType=DECIMAL},
      NAME = #{record.name,jdbcType=VARCHAR},
      INTRO = #{record.intro,jdbcType=VARCHAR},
      PATH = #{record.path,jdbcType=VARCHAR},
      SORT = #{record.sort,jdbcType=DECIMAL},
      PID = #{record.pid,jdbcType=DECIMAL},
      ICON = #{record.icon,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      USEAGE = #{record.useage,jdbcType=DECIMAL},
      MENU_TYPE = #{record.menuType,jdbcType=DECIMAL},
      RESOURSE = #{record.resourse,jdbcType=VARCHAR},
      COMPONENT = #{record.component,jdbcType=VARCHAR},
      SYSTEM = #{record.system,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmbccd.ulms.sys.domain.Menu">
    update SYS_MENU
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        INTRO = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="pid != null">
        PID = #{pid,jdbcType=DECIMAL},
      </if>
      <if test="icon != null">
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="useage != null">
        USEAGE = #{useage,jdbcType=DECIMAL},
      </if>
      <if test="menuType != null">
        MENU_TYPE = #{menuType,jdbcType=DECIMAL},
      </if>
      <if test="resourse != null">
        RESOURSE = #{resourse,jdbcType=VARCHAR},
      </if>
      <if test="component != null">
        COMPONENT = #{component,jdbcType=VARCHAR},
      </if>
      <if test="system != null">
        SYSTEM = #{system,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmbccd.ulms.sys.domain.Menu">
    update SYS_MENU
    set NAME = #{name,jdbcType=VARCHAR},
      INTRO = #{intro,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=DECIMAL},
      PID = #{pid,jdbcType=DECIMAL},
      ICON = #{icon,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      USEAGE = #{useage,jdbcType=DECIMAL},
      MENU_TYPE = #{menuType,jdbcType=DECIMAL},
      RESOURSE = #{resourse,jdbcType=VARCHAR},
      COMPONENT = #{component,jdbcType=VARCHAR},
      SYSTEM = #{system,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="creatNewMenuId" resultType="java.lang.Integer">
    select case when count(*) = 0 then 1 else  max(id)+1 end from SYS_MENU
  </select>

  <select id="selectFontPermissionByIds" resultType="string">
    select RESOURSE
    from SYS_MENU where STATUS=1 and USEAGE=1 and MENU_TYPE=1 and ID in (
    <foreach collection="array" item="id" separator=",">
      #{id}
    </foreach>)
  </select>

  <select id="selectByRoleId">
    WITH role_permissions AS (
      SELECT
        REGEXP_SUBSTR(PERMISSIONS, '[^,]+', 1, LEVEL) AS permission_id
      FROM
        SYS_ROLE
      WHERE
        ID in (
        <foreach collection="array" item="id" separator=",">
          #{id}
        </foreach>)
    CONNECT BY
      REGEXP_SUBSTR(PERMISSIONS, '[^,]+', 1, LEVEL) IS NOT NULL
           AND PRIOR ID = ID
           AND PRIOR SYS_GUID() IS NOT NULL
      )
    SELECT
      *
    FROM
      SYS_MENU where id in (select permission_id from role_permissions)
  </select>
</mapper>