<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmbccd.ulms.college.dao.TeachGroupMapper">
  <resultMap id="BaseResultMap" type="com.cmbccd.ulms.college.domain.TeachGroup">
    <result column="PLO_NUM" jdbcType="VARCHAR" property="ploNum" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PLO_NUM, GROUP_NAME
  </sql>
  <select id="selectByExample" parameterType="com.cmbccd.ulms.college.domain.TeachGroupExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TRM_COURSE_TEACH_GROUP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.cmbccd.ulms.college.domain.TeachGroupExample">
    delete from TRM_COURSE_TEACH_GROUP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cmbccd.ulms.college.domain.TeachGroup">
    insert into TRM_COURSE_TEACH_GROUP (PLO_NUM, GROUP_NAME)
    values (#{ploNum,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cmbccd.ulms.college.domain.TeachGroup">
    insert into TRM_COURSE_TEACH_GROUP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ploNum != null">
        PLO_NUM,
      </if>
      <if test="groupName != null">
        GROUP_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ploNum != null">
        #{ploNum,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="batchInsert" parameterType="java.util.List">
    insert into TRM_COURSE_TEACH_GROUP (PLO_NUM, GROUP_NAME)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.ploNum,jdbcType=VARCHAR}, #{item.groupName,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <delete id="deleteAll">
    delete from TRM_COURSE_TEACH_GROUP
  </delete>
  <select id="countByExample" parameterType="com.cmbccd.ulms.college.domain.TeachGroupExample" resultType="java.lang.Long">
    select count(*) from TRM_COURSE_TEACH_GROUP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update TRM_COURSE_TEACH_GROUP
    <set>
      <if test="record.ploNum != null">
        PLO_NUM = #{record.ploNum,jdbcType=VARCHAR},
      </if>
      <if test="record.groupName != null">
        GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update TRM_COURSE_TEACH_GROUP
    set PLO_NUM = #{record.ploNum,jdbcType=VARCHAR},
      GROUP_NAME = #{record.groupName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="listGroupName" resultMap="BaseResultMap">
    select GROUP_NAME,count(1) PLO_NUM from TRM_COURSE_TEACH_GROUP GROUP BY GROUP_NAME order by GROUP_NAME
  </select>

  <select id="listGroupNameByPloNum" parameterType="java.lang.String" resultType="java.lang.String">
    select distinct GROUP_NAME from TRM_COURSE_TEACH_GROUP where plo_num = #{ploNum,jdbcType=VARCHAR} order by GROUP_NAME
  </select>
</mapper>
