<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmbccd.ulms.oht.dao.OhtRoleMapper">
  <resultMap id="BaseResultMap" type="com.cmbccd.ulms.oht.domain.OhtRole">
    <result column="ROLE_CODE" jdbcType="DECIMAL" property="roleCode" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="ROLE_TYPE" jdbcType="DECIMAL" property="roleType" />
    <result column="ROLE_STAT" jdbcType="DECIMAL" property="roleStat" />
    <result column="ROLE_RELAT" jdbcType="VARCHAR" property="roleRelat" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ROLE_CODE, ROLE_NAME, ROLE_TYPE, ROLE_STAT, ROLE_RELAT
  </sql>
  <select id="selectByExample" parameterType="com.cmbccd.ulms.oht.domain.OhtRoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from OTH_ROLE_CONFIG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.cmbccd.ulms.oht.domain.OhtRoleExample">
    delete from OTH_ROLE_CONFIG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cmbccd.ulms.oht.domain.OhtRole">
    insert into OTH_ROLE_CONFIG (ROLE_CODE, ROLE_NAME, ROLE_TYPE, 
      ROLE_STAT, ROLE_RELAT)
    values (#{roleCode,jdbcType=DECIMAL}, #{roleName,jdbcType=VARCHAR}, #{roleType,jdbcType=DECIMAL}, 
      #{roleStat,jdbcType=DECIMAL}, #{roleRelat,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cmbccd.ulms.oht.domain.OhtRole">
    insert into OTH_ROLE_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleCode != null">
        ROLE_CODE,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="roleType != null">
        ROLE_TYPE,
      </if>
      <if test="roleStat != null">
        ROLE_STAT,
      </if>
      <if test="roleRelat != null">
        ROLE_RELAT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleCode != null">
        #{roleCode,jdbcType=DECIMAL},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=DECIMAL},
      </if>
      <if test="roleStat != null">
        #{roleStat,jdbcType=DECIMAL},
      </if>
      <if test="roleRelat != null">
        #{roleRelat,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cmbccd.ulms.oht.domain.OhtRoleExample" resultType="java.lang.Long">
    select count(*) from OTH_ROLE_CONFIG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update OTH_ROLE_CONFIG
    <set>
      <if test="record.roleCode != null">
        ROLE_CODE = #{record.roleCode,jdbcType=DECIMAL},
      </if>
      <if test="record.roleName != null">
        ROLE_NAME = #{record.roleName,jdbcType=VARCHAR},
      </if>
      <if test="record.roleType != null">
        ROLE_TYPE = #{record.roleType,jdbcType=DECIMAL},
      </if>
      <if test="record.roleStat != null">
        ROLE_STAT = #{record.roleStat,jdbcType=DECIMAL},
      </if>
      <if test="record.roleRelat != null">
        ROLE_RELAT = #{record.roleRelat,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update OTH_ROLE_CONFIG
    set ROLE_CODE = #{record.roleCode,jdbcType=DECIMAL},
      ROLE_NAME = #{record.roleName,jdbcType=VARCHAR},
      ROLE_TYPE = #{record.roleType,jdbcType=DECIMAL},
      ROLE_STAT = #{record.roleStat,jdbcType=DECIMAL},
      ROLE_RELAT = #{record.roleRelat,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from OTH_ROLE_CONFIG
    where ROLE_CODE = #{roleCode,jdbcType=DECIMAL}
  </delete>
  
  <update id="updateByPrimaryKey" parameterType="com.cmbccd.ulms.oht.domain.OhtRole">
    update OTH_ROLE_CONFIG
    <set>
      <if test="record.roleName != null">
        ROLE_NAME = #{record.roleName,jdbcType=VARCHAR},
      </if>
      <if test="record.roleType != null">
        ROLE_TYPE = #{record.roleType,jdbcType=DECIMAL},
      </if>
      <if test="record.roleStat != null">
        ROLE_STAT = #{record.roleStat,jdbcType=DECIMAL},
      </if>
      <if test="record.roleRelat != null">
        ROLE_RELAT = #{record.roleRelat,jdbcType=VARCHAR},
      </if>
    </set>
     where ROLE_CODE = #{record.roleCode,jdbcType=DECIMAL}
  </update>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OTH_ROLE_CONFIG
    where ROLE_CODE = #{roleCode,jdbcType=DECIMAL}
  </select>
  <select id="selectNewId" resultType="java.lang.Integer">
  	select case when count(*) = 0 then 1 else  max(role_code)+1 end from OTH_ROLE_CONFIG
  </select>
  
</mapper>