<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmbccd.ulms.oht.dao.QuickMemoMapper">
  <resultMap id="BaseResultMap" type="com.cmbccd.ulms.oht.domain.QuickMemo">
    <result column="JOURNO" jdbcType="VARCHAR" property="journo" />
    <result column="ROLE_TYPE" jdbcType="VARCHAR" property="roleType" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    JOURNO, ROLE_TYPE, MEMO, STATUS
  </sql>
  <select id="selectByExample" parameterType="com.cmbccd.ulms.oht.domain.QuickMemoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from OTH_QUICK_MEMO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.cmbccd.ulms.oht.domain.QuickMemoExample">
    delete from OTH_QUICK_MEMO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cmbccd.ulms.oht.domain.QuickMemo">
    insert into OTH_QUICK_MEMO (JOURNO, ROLE_TYPE, MEMO, 
      STATUS)
    values (#{journo,jdbcType=VARCHAR}, #{roleType,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.cmbccd.ulms.oht.domain.QuickMemo">
    insert into OTH_QUICK_MEMO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="journo != null">
        JOURNO,
      </if>
      <if test="roleType != null">
        ROLE_TYPE,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="journo != null">
        #{journo,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cmbccd.ulms.oht.domain.QuickMemoExample" resultType="java.lang.Long">
    select count(*) from OTH_QUICK_MEMO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update OTH_QUICK_MEMO
    <set>
      <if test="record.journo != null">
        JOURNO = #{record.journo,jdbcType=VARCHAR},
      </if>
      <if test="record.roleType != null">
        ROLE_TYPE = #{record.roleType,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null">
        MEMO = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update OTH_QUICK_MEMO
    set JOURNO = #{record.journo,jdbcType=VARCHAR},
      ROLE_TYPE = #{record.roleType,jdbcType=VARCHAR},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
   
  <select id="selectNewJourno" resultType="java.lang.String">
  	select case when count(*) = 0 then 1 else  max(JOURNO)+1 end from OTH_QUICK_MEMO
  </select>
 
  <update id="updateByJourno"  parameterType="com.cmbccd.ulms.oht.domain.QuickMemo">
    update OTH_QUICK_MEMO
    <set>
      <if test="record.roleType != null">
        ROLE_TYPE = #{record.roleType,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null">
        MEMO = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
    </set>
    where JOURNO = #{record.journo,jdbcType=VARCHAR}
  </update>
  
  <select id="selectByRoleType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from OTH_QUICK_MEMO
    where ROLE_TYPE = #{roleType , jdbcType=VARCHAR}
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
  <!--    -->
  <delete id="deleteByJourno" parameterType="java.lang.String">
    delete from OTH_QUICK_MEMO where JOURNO = #{ journo ,jdbcType=VARCHAR}
  </delete>

</mapper>