<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmbccd.ulms.oht.dao.RoleListMapper">
  <resultMap id="BaseResultMap" type="com.cmbccd.ulms.oht.domain.RoleList">
    <result column="PLO_NUM" jdbcType="VARCHAR" property="ploNum" />
    <result column="ROLE_TYPE" jdbcType="DECIMAL" property="roleType" />
    <result column="ROLE_CODE" jdbcType="DECIMAL" property="roleCode" />
    <result column="ROLE_STAT" jdbcType="DECIMAL" property="roleStat" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PLO_NUM, ROLE_TYPE, ROLE_CODE, ROLE_STAT
  </sql>
  <select id="selectByExample" parameterType="com.cmbccd.ulms.oht.domain.RoleListExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from OTH_ROLE_LIST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.cmbccd.ulms.oht.domain.RoleListExample">
    delete from OTH_ROLE_LIST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cmbccd.ulms.oht.domain.RoleList">
    insert into OTH_ROLE_LIST (PLO_NUM, ROLE_TYPE, ROLE_CODE, 
      ROLE_STAT)
    values (#{ploNum,jdbcType=VARCHAR}, #{roleType,jdbcType=DECIMAL}, #{roleCode,jdbcType=DECIMAL}, 
      #{roleStat,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.cmbccd.ulms.oht.domain.RoleList">
    insert into OTH_ROLE_LIST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ploNum != null">
        PLO_NUM,
      </if>
      <if test="roleType != null">
        ROLE_TYPE,
      </if>
      <if test="roleCode != null">
        ROLE_CODE,
      </if>
      <if test="roleStat != null">
        ROLE_STAT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ploNum != null">
        #{ploNum,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=DECIMAL},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=DECIMAL},
      </if>
      <if test="roleStat != null">
        #{roleStat,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cmbccd.ulms.oht.domain.RoleListExample" resultType="java.lang.Long">
    select count(*) from OTH_ROLE_LIST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update OTH_ROLE_LIST
    <set>
      <if test="record.ploNum != null">
        PLO_NUM = #{record.ploNum,jdbcType=VARCHAR},
      </if>
      <if test="record.roleType != null">
        ROLE_TYPE = #{record.roleType,jdbcType=DECIMAL},
      </if>
      <if test="record.roleCode != null">
        ROLE_CODE = #{record.roleCode,jdbcType=DECIMAL},
      </if>
      <if test="record.roleStat != null">
        ROLE_STAT = #{record.roleStat,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update OTH_ROLE_LIST
    set PLO_NUM = #{record.ploNum,jdbcType=VARCHAR},
      ROLE_TYPE = #{record.roleType,jdbcType=DECIMAL},
      ROLE_CODE = #{record.roleCode,jdbcType=DECIMAL},
      ROLE_STAT = #{record.roleStat,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>