<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmbccd.ulms.hr.dao.PerfListMapper">
  <resultMap id="BaseResultMap" type="com.cmbccd.ulms.hr.domain.PerfList">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PERF_MONTH" jdbcType="VARCHAR" property="perfMonth" />
    <result column="PLO_NUM" jdbcType="VARCHAR" property="ploNum" />
    <result column="DEPT_NUM" jdbcType="VARCHAR" property="deptNum" />
    <result column="DEPT_GROUP" jdbcType="VARCHAR" property="deptGroup" />
    <result column="JOB_LEVEL" jdbcType="VARCHAR" property="jobLevel" />
    <result column="SAP_ID" jdbcType="VARCHAR" property="sapId" />
    <result column="PERF_UNIT" jdbcType="VARCHAR" property="perfUnit" />
    <result column="SUBSIDY_UNIT" jdbcType="VARCHAR" property="subsidyUnit" />
    <result column="HUM_FLAG" jdbcType="DECIMAL" property="humFlag" />
    <result column="GROUP_FLAG" jdbcType="DECIMAL" property="groupFlag" />
    <result column="DEPT_FLAG" jdbcType="DECIMAL" property="deptFlag" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="UNIT_CASE_ID" jdbcType="VARCHAR" property="unitCaseId" />
    <result column="ORI_PERF_UNIT" jdbcType="VARCHAR" property="oriPerfUnit" />
    <result column="PLO_NAME" jdbcType="VARCHAR" property="ploName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, PERF_MONTH, PLO_NUM, DEPT_NUM, DEPT_GROUP, JOB_LEVEL, SAP_ID, PERF_UNIT, SUBSIDY_UNIT, 
    HUM_FLAG, GROUP_FLAG, DEPT_FLAG, MEMO, UNIT_CASE_ID, ORI_PERF_UNIT, PLO_NAME
  </sql>
  <select id="selectByExample" parameterType="com.cmbccd.ulms.hr.domain.PerfListExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CUS_PERF_LIST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CUS_PERF_LIST
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CUS_PERF_LIST
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cmbccd.ulms.hr.domain.PerfListExample">
    delete from CUS_PERF_LIST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cmbccd.ulms.hr.domain.PerfList">
    insert into CUS_PERF_LIST (ID, PERF_MONTH, PLO_NUM, 
      DEPT_NUM, DEPT_GROUP, JOB_LEVEL, 
      SAP_ID, PERF_UNIT, SUBSIDY_UNIT, 
      HUM_FLAG, GROUP_FLAG, DEPT_FLAG, 
      MEMO, UNIT_CASE_ID, ORI_PERF_UNIT, 
      PLO_NAME)
    values (#{id,jdbcType=VARCHAR}, #{perfMonth,jdbcType=VARCHAR}, #{ploNum,jdbcType=VARCHAR}, 
      #{deptNum,jdbcType=VARCHAR}, #{deptGroup,jdbcType=VARCHAR}, #{jobLevel,jdbcType=VARCHAR}, 
      #{sapId,jdbcType=VARCHAR}, #{perfUnit,jdbcType=VARCHAR}, #{subsidyUnit,jdbcType=VARCHAR}, 
      #{humFlag,jdbcType=DECIMAL}, #{groupFlag,jdbcType=DECIMAL}, #{deptFlag,jdbcType=DECIMAL}, 
      #{memo,jdbcType=VARCHAR}, #{unitCaseId,jdbcType=VARCHAR}, #{oriPerfUnit,jdbcType=VARCHAR}, 
      #{ploName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cmbccd.ulms.hr.domain.PerfList">
    insert into CUS_PERF_LIST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="perfMonth != null">
        PERF_MONTH,
      </if>
      <if test="ploNum != null">
        PLO_NUM,
      </if>
      <if test="deptNum != null">
        DEPT_NUM,
      </if>
      <if test="deptGroup != null">
        DEPT_GROUP,
      </if>
      <if test="jobLevel != null">
        JOB_LEVEL,
      </if>
      <if test="sapId != null">
        SAP_ID,
      </if>
      <if test="perfUnit != null">
        PERF_UNIT,
      </if>
      <if test="subsidyUnit != null">
        SUBSIDY_UNIT,
      </if>
      <if test="humFlag != null">
        HUM_FLAG,
      </if>
      <if test="groupFlag != null">
        GROUP_FLAG,
      </if>
      <if test="deptFlag != null">
        DEPT_FLAG,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
      <if test="unitCaseId != null">
        UNIT_CASE_ID,
      </if>
      <if test="oriPerfUnit != null">
        ORI_PERF_UNIT,
      </if>
      <if test="ploName != null">
        PLO_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="perfMonth != null">
        #{perfMonth,jdbcType=VARCHAR},
      </if>
      <if test="ploNum != null">
        #{ploNum,jdbcType=VARCHAR},
      </if>
      <if test="deptNum != null">
        #{deptNum,jdbcType=VARCHAR},
      </if>
      <if test="deptGroup != null">
        #{deptGroup,jdbcType=VARCHAR},
      </if>
      <if test="jobLevel != null">
        #{jobLevel,jdbcType=VARCHAR},
      </if>
      <if test="sapId != null">
        #{sapId,jdbcType=VARCHAR},
      </if>
      <if test="perfUnit != null">
        #{perfUnit,jdbcType=VARCHAR},
      </if>
      <if test="subsidyUnit != null">
        #{subsidyUnit,jdbcType=VARCHAR},
      </if>
      <if test="humFlag != null">
        #{humFlag,jdbcType=DECIMAL},
      </if>
      <if test="groupFlag != null">
        #{groupFlag,jdbcType=DECIMAL},
      </if>
      <if test="deptFlag != null">
        #{deptFlag,jdbcType=DECIMAL},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="unitCaseId != null">
        #{unitCaseId,jdbcType=VARCHAR},
      </if>
      <if test="oriPerfUnit != null">
        #{oriPerfUnit,jdbcType=VARCHAR},
      </if>
      <if test="ploName != null">
        #{ploName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cmbccd.ulms.hr.domain.PerfListExample" resultType="java.lang.Long">
    select count(*) from CUS_PERF_LIST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CUS_PERF_LIST
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.perfMonth != null">
        PERF_MONTH = #{record.perfMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.ploNum != null">
        PLO_NUM = #{record.ploNum,jdbcType=VARCHAR},
      </if>
      <if test="record.deptNum != null">
        DEPT_NUM = #{record.deptNum,jdbcType=VARCHAR},
      </if>
      <if test="record.deptGroup != null">
        DEPT_GROUP = #{record.deptGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.jobLevel != null">
        JOB_LEVEL = #{record.jobLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.sapId != null">
        SAP_ID = #{record.sapId,jdbcType=VARCHAR},
      </if>
      <if test="record.perfUnit != null">
        PERF_UNIT = #{record.perfUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.subsidyUnit != null">
        SUBSIDY_UNIT = #{record.subsidyUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.humFlag != null">
        HUM_FLAG = #{record.humFlag,jdbcType=DECIMAL},
      </if>
      <if test="record.groupFlag != null">
        GROUP_FLAG = #{record.groupFlag,jdbcType=DECIMAL},
      </if>
      <if test="record.deptFlag != null">
        DEPT_FLAG = #{record.deptFlag,jdbcType=DECIMAL},
      </if>
      <if test="record.memo != null">
        MEMO = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.unitCaseId != null">
        UNIT_CASE_ID = #{record.unitCaseId,jdbcType=VARCHAR},
      </if>
      <if test="record.oriPerfUnit != null">
        ORI_PERF_UNIT = #{record.oriPerfUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.ploName != null">
        PLO_NAME = #{record.ploName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CUS_PERF_LIST
    set ID = #{record.id,jdbcType=VARCHAR},
      PERF_MONTH = #{record.perfMonth,jdbcType=VARCHAR},
      PLO_NUM = #{record.ploNum,jdbcType=VARCHAR},
      DEPT_NUM = #{record.deptNum,jdbcType=VARCHAR},
      DEPT_GROUP = #{record.deptGroup,jdbcType=VARCHAR},
      JOB_LEVEL = #{record.jobLevel,jdbcType=VARCHAR},
      SAP_ID = #{record.sapId,jdbcType=VARCHAR},
      PERF_UNIT = #{record.perfUnit,jdbcType=VARCHAR},
      SUBSIDY_UNIT = #{record.subsidyUnit,jdbcType=VARCHAR},
      HUM_FLAG = #{record.humFlag,jdbcType=DECIMAL},
      GROUP_FLAG = #{record.groupFlag,jdbcType=DECIMAL},
      DEPT_FLAG = #{record.deptFlag,jdbcType=DECIMAL},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      UNIT_CASE_ID = #{record.unitCaseId,jdbcType=VARCHAR},
      ORI_PERF_UNIT = #{record.oriPerfUnit,jdbcType=VARCHAR},
      PLO_NAME = #{record.ploName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmbccd.ulms.hr.domain.PerfList">
    update CUS_PERF_LIST
    <set>
      <if test="perfMonth != null">
        PERF_MONTH = #{perfMonth,jdbcType=VARCHAR},
      </if>
      <if test="ploNum != null">
        PLO_NUM = #{ploNum,jdbcType=VARCHAR},
      </if>
      <if test="deptNum != null">
        DEPT_NUM = #{deptNum,jdbcType=VARCHAR},
      </if>
      <if test="deptGroup != null">
        DEPT_GROUP = #{deptGroup,jdbcType=VARCHAR},
      </if>
      <if test="jobLevel != null">
        JOB_LEVEL = #{jobLevel,jdbcType=VARCHAR},
      </if>
      <if test="sapId != null">
        SAP_ID = #{sapId,jdbcType=VARCHAR},
      </if>
      <if test="perfUnit != null">
        PERF_UNIT = #{perfUnit,jdbcType=VARCHAR},
      </if>
      <if test="subsidyUnit != null">
        SUBSIDY_UNIT = #{subsidyUnit,jdbcType=VARCHAR},
      </if>
      <if test="humFlag != null">
        HUM_FLAG = #{humFlag,jdbcType=DECIMAL},
      </if>
      <if test="groupFlag != null">
        GROUP_FLAG = #{groupFlag,jdbcType=DECIMAL},
      </if>
      <if test="deptFlag != null">
        DEPT_FLAG = #{deptFlag,jdbcType=DECIMAL},
      </if>
      <if test="memo != null">
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="unitCaseId != null">
        UNIT_CASE_ID = #{unitCaseId,jdbcType=VARCHAR},
      </if>
      <if test="oriPerfUnit != null">
        ORI_PERF_UNIT = #{oriPerfUnit,jdbcType=VARCHAR},
      </if>
      <if test="ploName != null">
        PLO_NAME = #{ploName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmbccd.ulms.hr.domain.PerfList">
    update CUS_PERF_LIST
    set PERF_MONTH = #{perfMonth,jdbcType=VARCHAR},
      PLO_NUM = #{ploNum,jdbcType=VARCHAR},
      DEPT_NUM = #{deptNum,jdbcType=VARCHAR},
      DEPT_GROUP = #{deptGroup,jdbcType=VARCHAR},
      JOB_LEVEL = #{jobLevel,jdbcType=VARCHAR},
      SAP_ID = #{sapId,jdbcType=VARCHAR},
      PERF_UNIT = #{perfUnit,jdbcType=VARCHAR},
      SUBSIDY_UNIT = #{subsidyUnit,jdbcType=VARCHAR},
      HUM_FLAG = #{humFlag,jdbcType=DECIMAL},
      GROUP_FLAG = #{groupFlag,jdbcType=DECIMAL},
      DEPT_FLAG = #{deptFlag,jdbcType=DECIMAL},
      MEMO = #{memo,jdbcType=VARCHAR},
      UNIT_CASE_ID = #{unitCaseId,jdbcType=VARCHAR},
      ORI_PERF_UNIT = #{oriPerfUnit,jdbcType=VARCHAR},
      PLO_NAME = #{ploName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="initList" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT #{perfMonth,jdbcType=VARCHAR} PERF_MONTH,base.PLO_NUM,PLO_NAME,DEPT_NUM,DEPT_GROUP,JOB_LEVEL,t1.SAP_ID,base.PERF_UNIT,t2.SUBSIDY_NAME SUBSIDY_UNIT,base.PERF_UNIT ORI_PERF_UNIT,HUM_FLAG,GROUP_FLAG,DEPT_FLAG  FROM
      (SELECT PLO_NUM,PLO_NAME,DEPT_NUM,DEPT_GROUP,JOB_LEVEL,
              (CASE WHEN JOB_LEVEL in ( '100', '102','103' ,'104','105') then 1  else 0 end) HUM_FLAG,
              (CASE WHEN JOB_LEVEL in ( '100', '102','103' ,'104','105','101','106','107','108','109') then 1  else 0 end) GROUP_FLAG,
              (CASE WHEN JOB_LEVEL in ( '100', '102','103' ,'104','105','101','106','107','108','109','199') then 1  else 0 end) DEPT_FLAG,
              (case when dept_num = '3100' and JOB_LEVEL in ('100', '102','103' ,'104','105') then '网服团队'
                  when DEPT_NUM between '3200' and '3400' or DEPT_NUM between '3600' and '4000' then '金普卡团队'
                  when DEPT_NUM = '3500' then '融媒体团队'
                  else '' end ) PERF_UNIT FROM CUS_EMP_INFO WHERE DEPT_NUM BETWEEN '3006' AND '4000' AND  ( PLO_STATUS='00' or PLO_STATUS='01' and OUT_DATE between TO_CHAR(ADD_MONTHS(TO_DATE(concat(#{perfMonth,jdbcType=VARCHAR},'-26'),'YYYY-MM-DD'), -1),'YYYY-MM-DD') and concat(#{perfMonth,jdbcType=VARCHAR},'-25')) ) base
        LEFT JOIN
        (SELECT PLO_NUM,lpad(PLO_SAP,8,'0') SAP_ID FROM CUS_HR_INFO) t1
        on (base.PLO_NUM = t1.PLO_NUM)
        LEFT JOIN
      (select a.SUBSIDY_NAME,b.codeval perf_unit from CUS_HR_SUBSIDY_UNIT a left join (SELECT code,codeval FROM SYS_DICT WHERE name ='bpms_perf_unit') b on (a.PERF_UNIT= b.code) where a.status = 1) t2
      on (base.PERF_UNIT = t2.PERF_UNIT)
  </select>

  <select id="selectFlowPerfUnit" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
      CASE_ID UNIT_CASE_ID,
      PLO_NUM,
      CODEVAL AS PERF_UNIT,
      NVL( SUBSIDY_NAME, '未定义' ) SUBSIDY_UNIT,
      IF_PERF HUM_FLAG
    FROM
      (
        SELECT
          CASE_ID,
          PLO_NUM,
          PERF_UNIT,
          IF_PERF,
          row_number () over ( partition BY PLO_NUM ORDER BY MODIFY_TIME DESC ) rn
        FROM
          CUS_FLOW_PERF_UNIT
        WHERE
          #{ perfMonth,
          jdbcType = VARCHAR } BETWEEN BEG_MONTH
            AND END_MONTH
          AND FLOW_STATUS = 1
      ) a
        LEFT JOIN ( SELECT code, codeval FROM SYS_DICT WHERE name = 'bpms_perf_unit' ) b ON ( a.PERF_UNIT = b.code )
        LEFT JOIN ( SELECT PERF_UNIT, SUBSIDY_NAME FROM CUS_HR_SUBSIDY_UNIT WHERE status = 1 ) c ON ( a.PERF_UNIT = c.PERF_UNIT )
    WHERE
      rn =1
  </select>

  <update id="updateLabelHumanFlag">
    UPDATE CUS_PERF_LIST
      SET HUM_FLAG = HUM_FLAG * #{ humFlag,jdbcType=DECIMAL },
      GROUP_FLAG = GROUP_FLAG * #{ groupFlag,jdbcType=DECIMAL },
      DEPT_FLAG = DEPT_FLAG * #{ deptFlag,jdbcType=DECIMAL }
    where PERF_MONTH = #{ perfMonth, jdbcType = VARCHAR } AND PLO_NUM #{ ploNum, jdbcType = VARCHAR }
  </update>
</mapper>