<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A6广场-管理后台</title>
    <script type="module" crossorigin src="/ulms/static/js/index-1-c64luH.js"></script>
    <link rel="modulepreload" crossorigin href="/ulms/static/js/vendor-B5gPZV6t.js">
    <link rel="modulepreload" crossorigin href="/ulms/static/js/tdesign-vue-next-C0xlZ8-U.js">
    <link rel="stylesheet" crossorigin href="/ulms/static/css/tdesign-vue-next-CuMrytZe.css">
    <link rel="stylesheet" crossorigin href="/ulms/static/css/index-h6NjNMQu.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
