<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmbccd.ulms.youngTalk.dao.LikeMapper">
  <resultMap id="BaseResultMap" type="com.cmbccd.ulms.youngTalk.domain.Like">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="LIKE_TYPE" jdbcType="DECIMAL" property="likeType" />
    <result column="ARTICAL_ID" jdbcType="DECIMAL" property="articalId" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="DATE_TIME" jdbcType="VARCHAR" property="dateTime" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, LIKE_TYPE, ARTICAL_ID, USER_ID, DATE_TIME, STATUS
  </sql>
  <select id="selectByExample" parameterType="com.cmbccd.ulms.youngTalk.domain.LikeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CYT_ARTICAL_LIKE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CYT_ARTICAL_LIKE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from CYT_ARTICAL_LIKE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.cmbccd.ulms.youngTalk.domain.LikeExample">
    delete from CYT_ARTICAL_LIKE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cmbccd.ulms.youngTalk.domain.Like">
    insert into CYT_ARTICAL_LIKE (ID, LIKE_TYPE, ARTICAL_ID, 
      USER_ID, DATE_TIME, STATUS
      )
    values (#{id,jdbcType=DECIMAL}, #{likeType,jdbcType=DECIMAL}, #{articalId,jdbcType=DECIMAL}, 
      #{userId,jdbcType=VARCHAR}, #{dateTime,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cmbccd.ulms.youngTalk.domain.Like">
    insert into CYT_ARTICAL_LIKE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="likeType != null">
        LIKE_TYPE,
      </if>
      <if test="articalId != null">
        ARTICAL_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="dateTime != null">
        DATE_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="likeType != null">
        #{likeType,jdbcType=DECIMAL},
      </if>
      <if test="articalId != null">
        #{articalId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="dateTime != null">
        #{dateTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cmbccd.ulms.youngTalk.domain.LikeExample" resultType="java.lang.Integer">
    select count(*) from CYT_ARTICAL_LIKE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CYT_ARTICAL_LIKE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.likeType != null">
        LIKE_TYPE = #{record.likeType,jdbcType=DECIMAL},
      </if>
      <if test="record.articalId != null">
        ARTICAL_ID = #{record.articalId,jdbcType=DECIMAL},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.dateTime != null">
        DATE_TIME = #{record.dateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CYT_ARTICAL_LIKE
    set ID = #{record.id,jdbcType=DECIMAL},
      LIKE_TYPE = #{record.likeType,jdbcType=DECIMAL},
      ARTICAL_ID = #{record.articalId,jdbcType=DECIMAL},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      DATE_TIME = #{record.dateTime,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmbccd.ulms.youngTalk.domain.Like">
    update CYT_ARTICAL_LIKE
    <set>
      <if test="likeType != null">
        LIKE_TYPE = #{likeType,jdbcType=DECIMAL},
      </if>
      <if test="articalId != null">
        ARTICAL_ID = #{articalId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="dateTime != null">
        DATE_TIME = #{dateTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmbccd.ulms.youngTalk.domain.Like">
    update CYT_ARTICAL_LIKE
    set LIKE_TYPE = #{likeType,jdbcType=DECIMAL},
      ARTICAL_ID = #{articalId,jdbcType=DECIMAL},
      USER_ID = #{userId,jdbcType=VARCHAR},
      DATE_TIME = #{dateTime,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
   <select id="creatNewId" resultType="java.lang.Integer">
  	select case when count(*) = 0 then 1 else  max(id)+1 end from CYT_ARTICAL_LIKE
  </select>
  
</mapper>